/*Generales*/

    *, *::after, *::before {
        margin: 0;
        padding: 0;
    }

    html {
        box-sizing: border-box;
    }

    body {
        font-family: sans-serif;
    }

/*Contenido*/


    .contenido {
        display: flex;
        flex-direction: column-reverse;
    }

    .contenedor {
        width: 85%;
        margin: 0 auto;
    }

    .contenido-principal {
        padding: 3rem 0;
    }

    .contenido-principal h1{
        margin-bottom: .5rem;
        text-transform: uppercase;
        text-align: center;
    }
    .contenido-principal h3{
        margin-bottom: 1.2rem;
        text-align: center;
    }

    .contenido-principal p{
        text-align: justify;
        font-size: 1.3rem;
        line-height: 1.4;
    }

    .contenido-principal span{
        display: block;
        font-weight: bold;
        letter-spacing: .2rem;
        line-height: 2;
    }

    aside.contenedor {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sidebar {
        border: 2px solid black;
        background: #e1e1e1;
    }
    .lista {
        width: 100%;
        list-style: none;
        display: flex;
        margin-bottom: 2rem;
        justify-content: space-around;
    }
    h2 {
        margin-bottom: 1rem;
        text-transform: uppercase;
        text-align: center;
    }
    .boton, .boton-bg {
        width: 40px;
        height: 40px;
        border: 1px solid black;
    }

    .boton:hover, .boton-bg:hover {
        cursor: pointer;
        border: none;
    }

/*Colores*/

    /* COLOR TEXTO*/
        .texto-blanco{
            background-color: white;
        }
        .texto-negro{
            background-color: black;
        }
        .texto-amarillo{
            background-color: yellow;
        }
        .texto-rosa{
            background-color: pink;
        }
        .texto-verde{
            background-color: green;
        }

    /* COLOR FONDO*/
        #fondo-azul{
            background-color: blue;
        }
        #fondo-morado{
            background-color: purple;
        }

        #fondo-marron{
            background-color: brown;
        }

        #fondo-gris{
            background-color: gray;
        }
        #fondo-rojo{
            background-color: red;
        }

    /* COLORES PARAR PODER TEXTO EN EL BODY*/

        #blanco{
            color: white;
        }
        #negro{
            color: black;
        }
        #amarillo{
            color: yellow;
        }
        #rosa{
            color: pink;
        }
        #verde{
            color: green;
        }

     
    /* MEDIA QUERIES*/

@media (min-width: 728px){
    .contenido {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-flow: column;
    }
    .sidebar {
        height: 99.4vh;
    }
    aside {
        height: 100%;
    }
    .contenido-principal {
        grid-column: 2 / 9;
    }
    .lista {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .boton, .boton-bg {
        width: 65px;
        height: 65px;
    }
}